body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h2 {
    padding-left: 0.5em;
}

.header {
    border-bottom: 1px solid lightgray;
    padding : 1em;
}

.header h2 {
    padding: 0; 
}

nav {
    display: flex;
    justify-content: flex-start;
    background: lightsalmon;
}

li {
    list-style: none;
    padding: 1em;
}

.menu ul {
    padding: 1em;
    padding-left: 0.5em;
}

.menu li {
    color: white;
    list-style: none;
    display: inline;
    padding: 1em;
    padding-left: 0.5em;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: gray;
    text-decoration: none;
}

#padding-left {
    padding-left: 0.5em;
    color: red;
}

form * {
    margin: 0.5em;
    margin-left: 0;
    padding: 0.5em;
    padding-left: 0.5em;
    border-radius: 4px;
}

form label {
    padding-left: 0;
}

form input {
    border: 1px solid lightgray;
}

button {
    background-color: lightseagreen;
    color:white;
    border-style: none;
    border-radius: 4px;
    padding: 1em;
}

button:hover {
    background-color: lightgray;
}

.google-login {
    vertical-align: middle;
}
.google-login img:hover {
    background: gray;
}

.login-options {
    display: flex;
}

.login-options div {
    padding-right: 4em
}

.email-login {
    flex-shrink: 0.2
}

.login-options img {
    display: block;
    width: 12em;
}

.shift-form {
    padding-left: 1em;
}

.shift-form form {
    margin-top: 1em;
    margin-bottom: 1em;
}

.shift-list {
    padding-left: 1em;
}

.shift-item {
    margin-top: 1em;
    border: 2px solid lightsalmon;
    padding-left: 1em;
    width: 40%;
}