* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6em;
}

p {
  font-size: 14px;
  padding-bottom: 1.6em;
}

ul {
  list-style-type: none;
}

ul ul {
  padding-left: 20px;
}

.header {
  background-color: #F9FAFB;
  margin: 0 auto;
  padding: 30px 10%;
}

.header p {
  color: #858687;
  line-height: 1.6em;
}

.nav {
  width: 80%;
  margin: 0 auto;
}

.nav ul {
  display: flex;
  justify-content: start;
  align-content: center;
  margin: 0;
}

.nav li {
  display: block;
  padding-right: 2em;
  align-content: center;
}

.nav a {
  color: black;
  text-decoration: none;
  line-height: 4em;
}

.nav a.active {
  color: #858687;
}

img.hero {
  width: 100%;
  padding-bottom: 2.4em;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.aside {
  width: 35%;
  padding: 10px 10px 20px 0;
}

.aside h4, .content h2 {
  min-height: 2rem;
  padding-bottom: 1rem;
}

.content h2 {
  margin-top: -4px; /* to align with `h4` in the aside */
}

.content {
  width: 60%;
  padding: 10px;
}

.footer {
  background-color: #6537CD;
  margin: 0 auto;
  padding: 40px 10%;
  display: flex;
  justify-content: space-between;
}

.footer li {
  line-height: 2.4em;
}

.footer .col {
  color: rgba(255, 255, 255, 0.8);
  width: 20%;
}

.footer .col h3 {
  color: white;
  line-height: 2.4em;
}

.footer .col a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.footer .col a:hover {
  color: white;
}

#map {
  height: 150px;
  width: 100%;
  margin-bottom: 1em;
 }


/* Mobile style */

@media only screen and (max-width: 600px) {
  * {
    flex-direction: column;
  }

  .header h1 {
    font-size: 1.2em;
  }

  .header p {
    font-size: 0.8em;
  }

  .nav {
    padding: 0.5em 0;
  }

  .nav ul {
    flex-direction: column;
    font-size: 0.8em;
  }

  .nav a {
    line-height: 3em;
  }

  .aside, .content {
    width: 100%;
    padding: 0px;
  }

  .content h2 {
    font-size: 1em;
  }

  .footer li {
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
  }

  .footer .col {
    width: 100%;
    margin-bottom: 2em;
  }
}
