body {
    font-family: monospace;
    font-size: 1.4em;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    background: #DDDDDD;
}

div {
    margin-top: 12%;
}

h1 {
    color: #ECFFE4;
    margin: 3% auto;
}

h2 {
    font-family: 'Indie Flower', cursive;
}

form {
    color: #484848;
}

input {
    margin: 1em auto;
    padding: 0.25em;
    line-height: 3em;
    border-radius: 5px;
    width: 20em;
    display: block;
}

button {
    background-color: #ECFFE4;
    color: grey;
    border-radius: 5px;
    border: 1px solid white;
    font-family: 'Indie Flower', cursive;
    font-size: 1em;
    margin: .5em auto;
    padding: 0.25em;
    width: 6em;
}

p {
    font-family: monospace;
    font-style: italic;
    width: 55%;
    margin: 1em auto;
}
